[Unit]
Description=uWSGI instance to serve PicSelector
After=network.target

[Service]
User=web
Group=www-data
WorkingDirectory=/webwork
ExecStart=uwsgi --ini pic_selector.ini

[Install]
WantedBy=multi-user.target
